.popup {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.popup > * {
  /* height: 60px; */
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 20px;
}

.popup .input {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.popup form > * {
  height: 50px;
}

.popup .input input {
  width: 60%;
}

.btn-grup {
  justify-content: flex-end;
}

.btn-grup .save {
  background-color: #00b152;
  color: white;
  margin-right: 12px;
}

.btn-grup .cancel {
  background-color: #242424;
  color: white;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.off {
  display: none;
}
